.formWrap {
  width: 300px;
  height: 130px;
  margin: auto;
}

.row {
  margin: 1rem auto;
}

.row label,
.row:nth-of-type(2) > span {
  font-size: 1.2rem;
  font-weight: 700;
}

.row select {
  font-size: 1.2rem;
}

.row input {
  font-size: 1.05rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.buttonGroup button {
  font-size: 1.2rem;
  margin: auto 1rem;
  cursor: pointer;
}