.wrap {
  background: #FFFFFF;
  width: 90%;
  max-width: 400px;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.active {
  border: 2px solid rgb(67, 67, 250);
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 5px;
  justify-content: space-between;
}

.contentLeft {
  max-width: 25px;
}

.contentCenter .contentName {
  max-width: 200px;
  text-align: center;
}

.contentName > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
}

.contentName input {
  width: 70%;
  height: 18px;
}

.contentName button {
  margin-left: 5px;
}

.contentRight {
  max-width: 60px;
}

.contentRight img {
  width: 25px;
  height: 25px;
}

.contentRight img:nth-of-type(2) {
  margin-left: 0.5rem;
}

.contentRight img:hover {
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
}